src/mathematica/old/

src/thesis/DP_Rahm_Jan_2020.aux
src/thesis/DP_Rahm_Jan_2020.lof
src/thesis/DP_Rahm_Jan_2020.log
src/thesis/DP_Rahm_Jan_2020.out
src/thesis/DP_Rahm_Jan_2020.pdf
src/thesis/DP_Rahm_Jan_2020.synctex.gz
src/thesis/DP_Rahm_Jan_2020.toc

RB - kopie.nb
UOV - kopie.nb
sdkconfig.old

.idea/
.vscode/
build/
*.o