[submodule "src/esp/esp-idf"]
	path = src/esp/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v4.1
[submodule "src/esp/esp-wolfssl"]
	path = src/esp/esp-wolfssl
	url = https://github.com/espressif/esp-wolfssl.git
[submodule "src/esp/XKCP"]
	path = src/esp/XKCP
	url = https://github.com/XKCP/XKCP.git
